@model Horchateria.Models.UserData
@{
    ViewData["Title"] = "Register";
}

<div class="container" align="justify">
    <h2>Please fill the form to register</h2> <br/>

    <form asp-action="AddUser" asp-action="AddUser" method="post">
    
        @Html.LabelFor(m => m.FirstName): @Html.EditorFor(m => m.FirstName,
          new { htmlAttributes = new { @class = "form-control" }  } )<br />
       
        @Html.LabelFor(m => m.LastName): @Html.EditorFor(m => m.LastName,
          new { htmlAttributes = new { @class = "form-control" }  } )<br />

        @Html.LabelFor(m => m.Email): <input asp-for="Email" class="form-control"/> <br/>

        @Html.LabelFor(m => m.PhoneNumber): <input asp-for="PhoneNumber" class="form-control"/> <br/>

        @Html.LabelFor(m => m.Password): <input asp-for="Password" class="form-control"/> <br/>

        <input type="submit" value="Register!" />
    </form>
</div>

